body {
    margin: 0px;
    background-color: bl;
}

header {
    background-color: black;
    height: 4rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

h3 {
    color: red;
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 25px;
}

.container {
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    height: 100%;
}

input {
    margin-bottom: 10px;
    width: 200px;
    border: solid px;
    text-align: center;
    color: black;
    font-family: 'Share Tech Mono', monospace;
    height: 25px;
    border-radius: 3px;
}

button {
    font-family: 'Share Tech Mono', monospace;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
}

#outputMessage {
    display: inline;
    height: 500px;
}

#output {
    text-align: center;
}

#loading,
#profit,
#loss {
    height: 100px;
    display: none;
    margin-left: 30%;
    margin-right: 30%;
}

#loading {
    padding-left: 100px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 200px;
}

.links {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}